<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                    (click)="toggleFullWidth()">
                    <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                    <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                </a>Edit Gvr Section</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">Setup</li>
                    <li class="breadcrumb-item">Gvr Sections</li>
                    <li class="breadcrumb-item active">Edit Gvr Section</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Gvr Section</h2>
                </div>
                <div class="body">
                    <form #SectionForm="ngForm" (ngSubmit)="onSubmit(SectionForm.valid, SectionForm)">
                        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="gvrSection.id">
                        <div class="form-group">
                            <label>Gvr Section</label>
                            <input type="text" [(ngModel)]="gvrSection.gvrSectionName" class="form-control" name="gvrSectionName" #gvrSectionName="ngModel" required [ngClass]="{'parsley-error':!gvrSectionName.valid && (gvrSectionName.touched || SectionForm.submitted)}">
							<ul class="parsley-errors-list filled" *ngIf="!gvrSectionName.valid && (gvrSectionName.touched || SectionForm.submitted)">
								<li class="parsley-required" *ngIf="gvrSectionName.hasError('required')">This value is required.</li>
							</ul>
                        </div>

                        <div class="form-group">
                            <label>Gvr Category</label>
                            <ng-multiselect-dropdown 
                                name="gvrCategories" 
                                #multiSelect="ngModel" 
                                [placeholder]="'None Selected'" 
                                [data]="dropdownGvrCategoryList" 
                                [(ngModel)]="selectedGvrCategoryItems"
                                [settings]="dropdownGvrCategorySettings">
                            </ng-multiselect-dropdown>
                        </div>

                        <br>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-pencil"></i> SAVE</button>
                        <br />
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>