<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                    (click)="toggleFullWidth()">
                    <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                    <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                </a>Edit Activity</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/gvr']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">GVR</li>
                    <li class="breadcrumb-item">Activities</li>
                    <li class="breadcrumb-item active">Edit Activity</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12">
                    <form #activityForm="ngForm" (ngSubmit)="onSubmit(activityForm.valid, activityForm)">
                        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="activity.id">
                        <div class="card">
                            <div class="body">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Date *</label>
                                            <ng-multiselect-dropdown 
                                                name="activityDate" 
                                                #multiSelect="ngModel" 
                                                [placeholder]="'None Selected'" 
                                                [(ngModel)]="selectedDate"
                                                [settings]="dropdownDateSettings"
                                                [data]="week" >
                                            </ng-multiselect-dropdown>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Objective *</label>
                                            <ng-multiselect-dropdown 
                                                name="purpose" 
                                                #multiSelect="ngModel" 
                                                [placeholder]="'None Selected'" 
                                                [(ngModel)]="selectedObjective"
                                                [settings]="dropdownObjectiveSettings" 
                                                [data]="objectiveList" 
                                                (onSelect)="onObjectiveSelect($event)" >
                                            </ng-multiselect-dropdown>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row" *ngIf="showAll">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Company *</label>
                                            <ng-multiselect-dropdown 
                                                name="company" 
                                                #multiSelect="ngModel" 
                                                [placeholder]="'None Selected'"
                                                [(ngModel)]="selectedCompany"
                                                [settings]="dropdownCompanySettings" 
                                                [data]="companyList" 
                                                (onSelect)="onCompanySelect($event)" >
                                            </ng-multiselect-dropdown>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row" *ngIf="showAll">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Customer *</label>
                                            <ng-multiselect-dropdown 
                                                name="customer" 
                                                #multiSelect="ngModel" 
                                                [placeholder]="'None Selected'" 
                                                [(ngModel)]="selectedCustomer"
                                                [settings]="dropdownCustomerSettings"
                                                [data]="customerList" 
                                                (onSelect)="onCustomerSelect($event)" >
                                            </ng-multiselect-dropdown>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row" *ngIf="showAll">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Contact Person *</label>
                                            <ng-multiselect-dropdown 
                                                name="contactPerson" 
                                                #multiSelect="ngModel" 
                                                [placeholder]="'None Selected'" 
                                                [(ngModel)]="selectedContactPerson"
                                                [settings]="dropdownContactPersonSettings"
                                                [data]="contactPersonList"  >
                                            </ng-multiselect-dropdown>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row" *ngIf="showOtherPurpose">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Please Specify (if choose OTHERS) *</label>
                                            <input type="text" [(ngModel)]="activity.otherPurpose" class="form-control" name="otherPurpose" #otherPurpose="ngModel" required [ngClass]="{'parsley-error':!otherPurpose.valid && (otherPurpose.touched || activityForm.submitted)}" >
                                            <ul class="parsley-errors-list filled" *ngIf="!otherPurpose.valid && (otherPurpose.touched || activityForm.submitted)">
                                                <li class="parsley-required" *ngIf="otherPurpose.hasError('required')">This value is required.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" *ngIf="showAll">
                            <div class="body">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Farm Name</label>
                                            <input type="text" [(ngModel)]="activity.farmName" class="form-control" name="farmName" #farmName="ngModel">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Population/Production</label>
                                            <ng-multiselect-dropdown 
                                                name="population" 
                                                #multiSelect="ngModel" 
                                                [placeholder]="'None Selected'" 
                                                [(ngModel)]="selectedPopulation"
                                                [settings]="dropdownPopulationSettings" 
                                                [data]="populationList" >
                                            </ng-multiselect-dropdown>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Size</label>
                                            <input type="text" [(ngModel)]="activity.size" class="form-control" name="size" #size="ngModel">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Title</label>
                                            <ng-multiselect-dropdown 
                                                name="title" 
                                                #multiSelect="ngModel" 
                                                [placeholder]="'None Selected'"
                                                [(ngModel)]="selectedTitle"
                                                [settings]="dropdownTitleSettings" 
                                                [data]="titleList"  >
                                            </ng-multiselect-dropdown>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Contact Person</label>
                                            <input type="text" [(ngModel)]="activity.farmContactPerson" class="form-control" name="farmContactPerson" #farmContactPerson="ngModel">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Contact Number</label>
                                            <input type="text" [(ngModel)]="activity.farmContactNumber" class="form-control" name="farmContactNumber" #farmContactNumber="ngModel">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" [(ngModel)]="activity.farmContactEmail" class="form-control" name="farmContactEmail" #farmContactEmail="ngModel">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" *ngIf="showActivityDetail">
                            <div class="body">
                                <div _ngcontent-xyf-c32="" class="body pull-right">
                                    <button _ngcontent-xyf-c32="" class="btn btn-outline-primary" type="button" [routerLink]="['../../activityDetail/add/', activity.id, 'from', 'edit']"><i class="fa fa-plus"></i> Add</button>
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>SECTION</th>
                                            <th>CATEGORY</th>
                                            <th>PRODUCT/SERVICE</th>
                                            <th>TIMELINE</th>
                                            <th>STATUS</th>
                                            <th>ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let detail of activity.activityDetail">
                                            <td>{{ detail.section[0].gvrSectionName }}</td>
                                            <td><span *ngIf="detail.others">OTHERS</span><span *ngIf="!detail.others">{{ detail.category[0].gvrCategoryName }}</span></td>
                                            <td><span *ngIf="detail.others">{{detail.otherServices}}</span><span *ngIf="!detail.others">{{ detail.services[0].productName }}</span></td> 
                                            <td>{{ detail.timeline[0].timeline }}</td> 
                                            <td>{{ detail.status[0].status }}</td> 
                                            <td>
                                                <a _ngcontent-xyf-c13="" class="btn btn-outline-secondary mr-2" [routerLink]="['/gvr/activities/activityDetail/edit/', detail._id, 'activities', activity.id, 'from', 'edit']">
                                                    <i _ngcontent-xyf-c13="" class="icon-pencil" title="Edit"></i>
                                                </a>
                                                <a _ngcontent-xyf-c13="" class="btn btn-danger mr-2" (click)="openConfirm(detail._id, activity.id)">
                                                    <i _ngcontent-xyf-c13="" class="icon-trash" title="Delete"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card">
                            <div class="body">
                                <div class="form-group">
                                    <label>Other Information</label>
                                    <textarea [(ngModel)]="activity.otherInfo" class="form-control" name="otherInfo" #otherInfo="ngModel"></textarea>
                                </div>
                                <br>    
                                <button type="button" class="btn btn-secondary pull-right" [routerLink]="['../../list', weekNo, 'year', year]" style="margin-left: 10px;"> Cancel</button>
                                <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Save</button>
                                <br />
                            </div>
                        </div>
                        
                    </form>
            
            
        </div>
    </div>
</div>