<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                        (click)="toggleFullWidth()">
                        <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                        <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                    </a> WEEK {{ weekNo }}</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">Activities</li>
                    <li class="breadcrumb-item active">Week {{ weekNo }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body table-responsive">
                    <div _ngcontent-xyf-c32="" class="body pull-right">
                        <button type="button" class="btn btn-secondary pull-right" [routerLink]="['../../../../']" style="margin-left: 10px;"> Cancel</button> 
                        <button _ngcontent-xyf-c32="" class="btn btn-outline-primary" type="button" [routerLink]="['../../../../add/', weekNo, 'year', year]"><i class="fa fa-plus"></i> Add</button>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>DATE</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let activity of activitiesList">
                                <td scope="row">{{ activity.activityDate }}</td>
                                <td>
                                    <a _ngcontent-xyf-c13="" class="btn btn-outline-secondary mr-2" [routerLink]="['../../../../edit/', activity.id]">
                                        <i _ngcontent-xyf-c13="" class="icon-pencil" title="Edit"></i>
                                    </a>
                                    <a _ngcontent-xyf-c13="" class="btn btn-danger mr-2" (click)="openConfirm(activity.id)">
                                        <i _ngcontent-xyf-c13="" class="icon-trash" title="Delete"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>

</div>