<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                    (click)="toggleFullWidth()">
                    <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                    <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                </a>Edit Iso Document</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">Setup</li>
                    <li class="breadcrumb-item">Iso Document</li>
                    <li class="breadcrumb-item active">Edit Iso Document</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Iso Document</h2>
                </div>
                <div class="body">
                    <form #isoForm="ngForm" (ngSubmit)="onSubmit(isoForm.valid, isoForm)">
                        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="iso.id">
                        <div class="form-group">
                            <label>Filename</label>
                            <span *ngIf="filename">
                                <br />
                                <br />
                                <iframe [src]="url" width="800px" height="700px"></iframe>
                                <br />
                                <a _ngcontent-xyf-c13="" class="btn btn-danger mr-2" (click)="deleteFile(iso.id)">
                                    <i _ngcontent-xyf-c13="" class="icon-trash" title="Delete"></i>
                                </a>
                            </span>
                            <div _ngcontent-kwf-c24="" class="input-group"  *ngIf="!filename">
                                <div _ngcontent-kwf-c24="" class="custom-file">
                                    <input _ngcontent-kwf-c24="" class="custom-file-input" id="inputGroupFile04" type="file"  (change)="onFilePicked($event)">
                                    <label _ngcontent-kwf-c24="" class="custom-file-label" for="inputGroupFile04">Choose file</label>
                                </div>
                                <div _ngcontent-kwf-c24="" class="input-group-append"><button _ngcontent-kwf-c24="" class="btn btn-outline-secondary" type="button" (click)="onFileUpload()">UPLOAD</button></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" [(ngModel)]="iso.fileDescription" class="form-control" name="fileDescription" #fileDescription="ngModel" required [ngClass]="{'parsley-error':!fileDescription.valid && (fileDescription.touched || isoForm.submitted)}">
                            <ul class="parsley-errors-list filled" *ngIf="!fileDescription.valid && (fileDescription.touched || isoForm.submitted)">
                                <li class="parsley-required" *ngIf="fileDescription.hasError('required')">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label>Type</label>
                            <ng-multiselect-dropdown 
                                name="fileType" 
                                #multiSelect="ngModel" 
                                [placeholder]="'None Selected'" 
                                [data]="fileTypeList" 
                                [(ngModel)]="selectedFileType"
                                [settings]="fileTypeSettings" >
                            </ng-multiselect-dropdown>
                        </div>

                        <br>
                        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-pencil"></i> Save</button>
                        <br />
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>