<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                    (click)="toggleFullWidth()">
                    <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                    <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                </a>Add Activity</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/gvr']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">GVR</li>
                    <li class="breadcrumb-item">Activities</li>
                    <li class="breadcrumb-item active">Add Activity</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12">
            
            <form #activityForm="ngForm" (ngSubmit)="onSubmit(activityForm.valid, activityForm)">
                <div class="card">
                    <div class="body">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Date *</label>
                                    <ng-multiselect-dropdown 
                                        name="activityDate" 
                                        #activityDate="ngModel"
                                        required 
                                        [ngClass]="{'parsley-error':!activityDate.valid && (activityDate.touched || activityForm.submitted)}" 
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [(ngModel)]="selectedDate"
                                        [settings]="dropdownDateSettings"
                                        [data]="week" >
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!activityDate.valid && (activityDate.touched || activityForm.submitted)">
                                        <li class="parsley-required" *ngIf="activityDate.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Objective *</label>
                                    <ng-multiselect-dropdown 
                                        name="purpose" 
                                        #purpose="ngModel"
                                        required 
                                        [ngClass]="{'parsley-error':!purpose.valid && (purpose.touched || activityForm.submitted)}" 
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [(ngModel)]="selectedObjective"
                                        [settings]="dropdownObjectiveSettings" 
                                        [data]="objectiveList" 
                                        (onSelect)="onObjectiveSelect($event)" >
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!purpose.valid && (purpose.touched || activityForm.submitted)">
                                        <li class="parsley-required" *ngIf="purpose.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row" *ngIf="showAll">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Company *</label>
                                    <ng-multiselect-dropdown 
                                        name="company" 
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [(ngModel)]="selectedCompany"
                                        [settings]="dropdownCompanySettings"
                                        (onSelect)="onCompanySelect($event)" 
                                        [data]="companyList" >
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row" *ngIf="showAll">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Customer *</label>
                                    <ng-multiselect-dropdown 
                                        name="customer" 
                                        #customer="ngModel"
                                        required 
                                        [ngClass]="{'parsley-error':!customer.valid && (customer.touched || activityForm.submitted)}" 
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [(ngModel)]="selectedCustomer"
                                        [settings]="dropdownCustomerSettings"
                                        [data]="customerList" 
                                        (onSelect)="onCustomerSelect($event)" >
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!customer.valid && (customer.touched || activityForm.submitted)">
                                        <li class="parsley-required" *ngIf="customer.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row" *ngIf="showAll">
                            <div class="col-sm-12" *ngIf="!showNewContactPerson">
                                <div class="form-group">
                                    <label>Contact Person *</label>
                                    <ng-multiselect-dropdown 
                                        name="contactPerson" 
                                        #contactPerson="ngModel"
                                        required 
                                        [ngClass]="{'parsley-error':!contactPerson.valid && (contactPerson.touched || activityForm.submitted)}" 
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [(ngModel)]="selectedContactPerson"
                                        [settings]="dropdownContactPersonSettings"
                                        [data]="contactPersonList"  >
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!contactPerson.valid && (contactPerson.touched || activityForm.submitted)">
                                        <li class="parsley-required" *ngIf="contactPerson.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row" *ngIf="showAll">
                            <div class="col-sm-3">
                                <div class="fancy-checkbox">
                                    <label><input type="checkbox" (change)="toggleNew($event)"><span>Not In List?</span></label>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="showNewContactPerson">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Title *</label>
                                        <ng-multiselect-dropdown 
                                            name="contactPersonTitle" 
                                            #contactPersonTitle="ngModel"
                                            required 
                                            [ngClass]="{'parsley-error':!contactPersonTitle.valid && (contactPersonTitle.touched || activityForm.submitted)}" 
                                            #multiSelect="ngModel" 
                                            [placeholder]="'None Selected'" 
                                            [(ngModel)]="selectedContactPersonTitle"
                                            [settings]="dropdownContactPersonTitleSettings"
                                            [data]="contactPersonTitleList"  >
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-12">
                                        <label>Name *</label>
                                        <input type="text" [(ngModel)]="cp.contactPersonName" class="form-control" name="contactPersonName" #contactPersonName="ngModel" required [ngClass]="{'parsley-error':!contactPersonName.valid && (contactPersonName.touched || activityForm.submitted)}" >
                                        <ul class="parsley-errors-list filled" *ngIf="!contactPersonName.valid && (contactPersonName.touched || activityForm.submitted)">
                                            <li class="parsley-required" *ngIf="contactPersonName.hasError('required')">This value is required.</li>
                                        </ul>
                                </div>
                            </div>
    
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Position *</label>
                                        <ng-multiselect-dropdown 
                                            name="contactPersonPosition" 
                                            #contactPersonPosition="ngModel"
                                            required 
                                            [ngClass]="{'parsley-error':!contactPersonPosition.valid && (contactPersonPosition.touched || activityForm.submitted)}" 
                                            #multiSelect="ngModel" 
                                            [placeholder]="'None Selected'" 
                                            [(ngModel)]="selectedItems"
                                            [settings]="dropdownSettings"
                                            [data]="dropdownList" >
                                        </ng-multiselect-dropdown>
                                        <ul class="parsley-errors-list filled" *ngIf="!contactPersonPosition.valid && (contactPersonPosition.touched || activityForm.submitted)">
                                            <li class="parsley-required" *ngIf="contactPersonPosition.hasError('required')">This value is required.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <label>Phone *</label>
                                    <input type="text" [(ngModel)]="cp.contactPersonPhone" class="form-control" name="contactPersonPhone" #contactPersonPhone="ngModel" required [ngClass]="{'parsley-error':!contactPersonPhone.valid && (contactPersonPhone.touched || activityForm.submitted)}">
                                    <ul class="parsley-errors-list filled" *ngIf="!contactPersonPhone.valid && (contactPersonPhone.touched || activityForm.submitted)">
                                        <li class="parsley-required" *ngIf="contactPersonPhone.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" [(ngModel)]="cp.contactPersonEmail" class="form-control" name="contactPersonEmail" #contactPersonEmail="ngModel">
                                    </div>
                                </div>
                            </div>
                        </div>           

                        <div class="form-group row" *ngIf="showOtherPurpose">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Please Specify (if choose OTHERS) *</label>
                                    <input type="text" [(ngModel)]="activity.otherPurpose" class="form-control" name="otherPurpose" #otherPurpose="ngModel" required [ngClass]="{'parsley-error':!otherPurpose.valid && (otherPurpose.touched || activityForm.submitted)}" >
                                    <ul class="parsley-errors-list filled" *ngIf="!otherPurpose.valid && (otherPurpose.touched || activityForm.submitted)">
                                        <li class="parsley-required" *ngIf="otherPurpose.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" *ngIf="showAll">
                    <div class="body">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Farm Name</label>
                                    <input type="text" [(ngModel)]="activity.farmName" class="form-control" name="farmName" #farmName="ngModel">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Population/Production</label>
                                    <ng-multiselect-dropdown 
                                        name="population" 
                                        #population="ngModel"
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [(ngModel)]="selectedPopulation"
                                        [settings]="dropdownPopulationSettings"
                                        [data]="populationList"  >
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Size</label>
                                    <input type="text" [(ngModel)]="activity.size" class="form-control" name="size" #size="ngModel">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Title</label>
                                    <ng-multiselect-dropdown 
                                        name="title" 
                                        #title="ngModel"
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'"
                                        [(ngModel)]="selectedTitle"
                                        [settings]="dropdownTitleSettings"  
                                        [data]="titleList" >
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Contact Person</label>
                                    <input type="text" [(ngModel)]="activity.farmContactPerson" class="form-control" name="farmContactPerson" #farmContactPerson="ngModel">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Contact Number</label>
                                    <input type="text" [(ngModel)]="activity.farmContactNumber" class="form-control" name="farmContactNumber" #farmContactNumber="ngModel">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" [(ngModel)]="activity.farmContactEmail" class="form-control" name="farmContactEmail" #farmContactEmail="ngModel">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="card" *ngIf="showActivityDetail">
                <div class="card">
                    <div class="body">
                        <div _ngcontent-xyf-c32="" class="body pull-right">
                            <button (click)="openModal()"><i class="fa fa-plus"></i> Add Activity Detail</button>
                            
                        </div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>SECTION</th>
                                    <th>CATEGORY</th>
                                    <th>PRODUCT/SERVICE</th>
                                    <th>TIMELINE</th>
                                    <th>STATUS</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                -->

                <div class="card">
                    <div class="body">
                        <div class="form-group">
                            <label>Other Information</label>
                            <textarea [(ngModel)]="activity.otherInfo" class="form-control" name="otherInfo" #otherInfo="ngModel"></textarea>
                        </div>

                        <br>    
                        <button type="button" class="btn btn-secondary pull-right" [routerLink]="['../../../../list', routeWeek, 'year', year]" style="margin-left: 10px;"> Cancel</button>
                        <div *ngIf="showActivityDetail">
                            <button type="submit" (click)="onNextClick()" class="btn btn-primary pull-right"><i class="fa fa-arrow-right"></i> Next</button>
                        </div>
                        <div *ngIf="!showActivityDetail">
                            <button type="submit" (click)="onDoneClick()" class="btn btn-primary pull-right" style="margin-left: 10px;"><i class="fa fa-check-circle"></i> Done</button>
                            <button type="submit" (click)="onAddClick()" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add Another</button>
                        </div>
                        
                        <br />
                        <br />  
                    </div>
                </div>
                

                
            </form>
            
        </div>
    </div>
</div>