<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                    (click)="toggleFullWidth()">
                    <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                    <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                </a>Edit Department</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">Setup</li>
                    <li class="breadcrumb-item">Departments</li>
                    <li class="breadcrumb-item active">Edit Department</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Department</h2>
                </div>
                <div class="body">
                    <form #departmentForm="ngForm" (ngSubmit)="onSubmit(departmentForm.valid, departmentForm)">
                        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="department.id">
                        <div class="form-group">
                            <label>department</label>
                            <input type="text" [(ngModel)]="department.departmentName" class="form-control" name="departmentName" #departmentName="ngModel" [ngClass]="{'parsley-error':!departmentName.valid && (departmentName.touched || departmentForm.submitted)}">
                            <ul class="parsley-errors-list filled" *ngIf="!departmentName.valid && (departmentName.touched || departmentForm.submitted)">
                                <li class="parsley-required" *ngIf="departmentName.hasError('required')">This value is required.</li>
                            </ul>
                        </div>

                        <br>
                        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-pencil"></i> SAVE</button>
                        <br />
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>