<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                    (click)="toggleFullWidth()">
                    <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                    <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                </a>Edit Gvr Category</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">Setup</li>
                    <li class="breadcrumb-item">Gvr Categories</li>
                    <li class="breadcrumb-item active">Edit Gvr Category</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Gvr Category</h2>
                </div>
                <div class="body">
                    <form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm.valid, categoryForm)">
                        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="gvrCategory.id">
                        <div class="form-group">
                            <label>Gvr Category</label>
                            <input type="text" [(ngModel)]="gvrCategory.gvrCategoryName" class="form-control" name="gvrCategoryName" #gvrCategoryName="ngModel" required [ngClass]="{'parsley-error':!gvrCategoryName.valid && (gvrCategoryName.touched || categoryForm.submitted)}">
							<ul class="parsley-errors-list filled" *ngIf="!gvrCategoryName.valid && (gvrCategoryName.touched || categoryForm.submitted)">
								<li class="parsley-required" *ngIf="gvrCategoryName.hasError('required')">This value is required.</li>
							</ul>
                        </div>

                        <br>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-pencil"></i> SAVE</button>
                        <br />
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>