<div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                        (click)="toggleFullWidth()">
                        <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                        <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                    </a>Add Event</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item">Setup</li>
                        <li class="breadcrumb-item">Events</li>
                        <li class="breadcrumb-item active">Add Event</li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>Event</h2>
                    </div>
                    <div class="body">
                        <form #eventForm="ngForm" (ngSubmit)="onSubmit(eventForm.valid, eventForm)">

                            <div class="form-group">
                                <label>Event</label>
                                <input type="text" [(ngModel)]="event.title" class="form-control" name="title" #title="ngModel" required [ngClass]="{'parsley-error':!title.valid && (title.touched || eventForm.submitted)}">
                                <ul class="parsley-errors-list filled" *ngIf="!title.valid && (title.touched || eventForm.submitted)">
                                    <li class="parsley-required" *ngIf="title.hasError('required')">This value is required.</li>
                                </ul>
                            </div>

                            <div class="form-group">
                                <label>Date</label>
                                <div _ngcontent-sqf-c23="" class="input-group mb-3">
                                    <div _ngcontent-sqf-c23="" class="input-group-prepend">
                                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">📅</button>
                                    </div>
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="start" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" #start="ngModel" required [ngClass]="{'parsley-error':!start.valid && (start.touched || eventForm.submitted)}">
                                </div>
                                <ul class="parsley-errors-list filled" *ngIf="!title.valid && (title.touched || eventForm.submitted)">
                                    <li class="parsley-required" *ngIf="title.hasError('required')">This value is required.</li>
                                </ul>
                            </div>

                            <div class="form-group">
                                <label>Holiday</label>
                                <ng-multiselect-dropdown 
                                    name="holiday" 
                                    required
                                    #holiday="ngModel"
                                    [ngClass]="{'parsley-error':!holiday.valid && (holiday.touched || eventForm.submitted)}"
                                    #multiSelect="ngModel" 
                                    [placeholder]="'None Selected'" 
                                    [data]="holidayList" 
                                    [(ngModel)]="selectedHoliday"
                                    [settings]="holidaySettings" >
                                </ng-multiselect-dropdown>
                                <ul class="parsley-errors-list filled" *ngIf="!holiday.valid && (holiday.touched || eventForm.submitted)">
                                    <li class="parsley-required" *ngIf="holiday.hasError('required')">This value is required.</li>
                                </ul>
                            </div>
    
                            <br>
                            <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> ADD</button>
                            <br />
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>