<div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                        (click)="toggleFullWidth()">
                        <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                        <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                    </a>Edit User</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item">Setup</li>
                        <li class="breadcrumb-item">Users</li>
                        <li class="breadcrumb-item active">Edit User</li>
                    </ul>
                </div>
            </div>
        </div>
        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.valid, userForm)">
        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="employee.id">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>User Particular</h2>
                    </div>
                    <div class="body">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label>Username *</label>
                                    <input type="text" [(ngModel)]="employee.username" class="form-control" name="username" #username="ngModel" required [ngClass]="{'parsley-error':!username.valid && (username.touched || userForm.submitted)}" >
                                    <ul class="parsley-errors-list filled" *ngIf="!username.valid && (username.touched || userForm.submitted)">
                                        <li class="parsley-required" *ngIf="username.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <label>Employee No.</label>
                                    <input type="text" [(ngModel)]="employee.staffNo" class="form-control" name="staffNo" #staffNo="ngModel" required [ngClass]="{'parsley-error':!staffNo.valid && (staffNo.touched || userForm.submitted)}" >
                                    <ul class="parsley-errors-list filled" *ngIf="!staffNo.valid && (staffNo.touched || userForm.submitted)">
                                        <li class="parsley-required" *ngIf="staffNo.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label>Name *</label>
                                    <input type="text" [(ngModel)]="employee.employeeName" class="form-control" name="employeeName" #employeeName="ngModel" required [ngClass]="{'parsley-error':!employeeName.valid && (employeeName.touched || userForm.submitted)}" >
                                    <ul class="parsley-errors-list filled" *ngIf="!employeeName.valid && (employeeName.touched || userForm.submitted)">
                                        <li class="parsley-required" *ngIf="employeeName.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <label>Initial *</label>
                                    <input type="text" [(ngModel)]="employee.initial" class="form-control" name="initial" #initial="ngModel" required [ngClass]="{'parsley-error':!initial.valid && (initial.touched || userForm.submitted)}" >
                                    <ul class="parsley-errors-list filled" *ngIf="!initial.valid && (initial.touched || userForm.submitted)">
                                        <li class="parsley-required" *ngIf="initial.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label>Short Name</label>
                                    <input type="text" [(ngModel)]="employee.shortname" class="form-control" name="shortname" #shortname="ngModel" >
                                </div>
                                <div class="col-sm-6">
                                    <label>Email</label>
                                    <input type="text" [(ngModel)]="employee.email" class="form-control" name="email" #email="ngModel" required [ngClass]="{'parsley-error':!email.valid && (email.touched || userForm.submitted)}" >
                                    <ul class="parsley-errors-list filled" *ngIf="!email.valid && (email.touched || userForm.submitted)">
                                        <li class="parsley-required" *ngIf="email.hasError('required')">This value is required.</li>
                                        <li class="parsley-type" *ngIf="email.hasError('pattern')">This value should be a valid email.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label>Position *</label>
                                    <ng-multiselect-dropdown 
                                        name="positions" 
                                        #positions="ngModel" 
                                        [ngClass]="{'parsley-error':!positions.valid && (positions.touched || userForm.submitted)}"
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [data]="positionList" 
                                        [(ngModel)]="selectedPosition"
                                        [settings]="dropdownPositionSettings">
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!positions.valid && (positions.touched || userForm.submitted)">
                                        <li class="parsley-required" *ngIf="positions.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <label>Grade *</label>
                                    <ng-multiselect-dropdown 
                                        name="grades" 
                                        #grades="ngModel" 
                                        [ngClass]="{'parsley-error':!grades.valid && (grades.touched || userForm.submitted)}"
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [data]="gradeList" 
                                        [(ngModel)]="selectedGrade"
                                        [settings]="dropdownGradeSettings">
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!grades.valid && (grades.touched || userForm.submitted)">
                                        <li class="parsley-required" *ngIf="grades.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label>Department *</label>
                                    <ng-multiselect-dropdown 
                                        name="departments" 
                                        #departments="ngModel" 
                                        [ngClass]="{'parsley-error':!departments.valid && (departments.touched || userForm.submitted)}"
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [data]="departmentList" 
                                        [(ngModel)]="selectedDepartment"
                                        [settings]="dropdownDepartmentSettings">
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!departments.valid && (departments.touched || userForm.submitted)">
                                        <li class="parsley-required" *ngIf="departments.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <label>Other Departments</label>
                                    <ng-multiselect-dropdown 
                                        name="otherDepartments" 
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [data]="otherDepartmentList" 
                                        [(ngModel)]="selectedOtherDepartment"
                                        [settings]="dropdownOtherDepartmentSettings">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label>Probation *</label>
                                    <ng-multiselect-dropdown 
                                        name="probation" 
                                        #probation="ngModel" 
                                        [ngClass]="{'parsley-error':!probation.valid && (probation.touched || userForm.submitted)}"
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [data]="probationList" 
                                        [(ngModel)]="selectedProbation"
                                        [settings]="probationSettings">
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!probation.valid && (probation.touched || userForm.submitted)">
                                        <li class="parsley-required" *ngIf="probation.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <label>Date Joined *</label>
                                    <div _ngcontent-sqf-c23="" class="input-group mb-3">
                                        <div _ngcontent-sqf-c23="" class="input-group-prepend">
                                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">📅</button>
                                        </div>
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="dateJoined" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" #dateJoined="ngModel">
                                        <!--<input class="form-control" placeholder="yyyy-mm-dd" name="dateJoined" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" #dateJoined="ngModel" [ngClass]="{'parsley-error':!dateJoined.valid && (dateJoined.touched || userForm.submitted)}">-->
                                    </div>
                                    <ul class="parsley-errors-list filled" *ngIf="!dateJoined.valid && (dateJoined.touched || userForm.submitted)">
                                        <li class="parsley-required" *ngIf="dateJoined.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label>HOD *</label>
                                    <ng-multiselect-dropdown 
                                        name="hod" 
                                        #hod="ngModel" 
                                        [ngClass]="{'parsley-error':!hod.valid && (hod.touched || userForm.submitted)}"
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [data]="hodList" 
                                        [(ngModel)]="selectedHod"
                                        [settings]="hodSettings">
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!hod.valid && (hod.touched || userForm.submitted)">
                                        <li class="parsley-required" *ngIf="hod.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <label>Employment *</label>
                                    <ng-multiselect-dropdown 
                                        name="employment" 
                                        #employment="ngModel" 
                                        required 
                                        [ngClass]="{'parsley-error':!employment.valid && (employment.touched || userForm.submitted)}"
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [data]="employmentList" 
                                        [(ngModel)]="selectedEmployment"
                                        [settings]="employmentSettings">
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!employment.valid && (employment.touched || userForm.submitted)">
                                        <li class="parsley-required" *ngIf="employment.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>Permission</h2>
                    </div>
                    <div class="body">
                            <div class="form-group">
                                    <label>Role *</label>
                                    <ng-multiselect-dropdown 
                                        name="roles" 
                                        #roles="ngModel" 
                                        required 
                                        [ngClass]="{'parsley-error':!roles.valid && (roles.touched || userForm.submitted)}"
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [data]="roleList" 
                                        [(ngModel)]="selectedRole"
                                        [settings]="roleSettings">
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!roles.valid && (roles.touched || userForm.submitted)">
                                        <li class="parsley-required" *ngIf="roles.hasError('required')">This value is required.</li>
                                    </ul>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label>Dental Access *</label>
                                    <ng-multiselect-dropdown 
                                        name="dentalAccess" 
                                        #dentalAccess="ngModel" 
                                        [ngClass]="{'parsley-error':!dentalAccess.valid && (dentalAccess.touched || userForm.submitted)}"
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [data]="dentalList" 
                                        [(ngModel)]="selectedDental"
                                        [settings]="dentalSettings">
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!dentalAccess.valid && (dentalAccess.touched || userForm.submitted)">
                                        <li class="parsley-required" *ngIf="dentalAccess.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <label>Flight Access *</label>
                                    <ng-multiselect-dropdown 
                                        name="flightAccess" 
                                        #flightAccess="ngModel" 
                                        [ngClass]="{'parsley-error':!flightAccess.valid && (flightAccess.touched || userForm.submitted)}"
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [data]="flightList" 
                                        [(ngModel)]="selectedFlight"
                                        [settings]="flightSettings">
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!flightAccess.valid && (flightAccess.touched || userForm.submitted)">
                                        <li class="parsley-required" *ngIf="flightAccess.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label>Seminar Access *</label>
                                    <ng-multiselect-dropdown 
                                        name="seminarAccess" 
                                        #seminarAccess="ngModel" 
                                        [ngClass]="{'parsley-error':!seminarAccess.valid && (seminarAccess.touched || userForm.submitted)}"
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [data]="seminarList" 
                                        [(ngModel)]="selectedSeminar"
                                        [settings]="seminarSettings">
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!seminarAccess.valid && (seminarAccess.touched || userForm.submitted)">
                                        <li class="parsley-required" *ngIf="seminarAccess.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <label>Equipment Access *</label>
                                    <ng-multiselect-dropdown 
                                        name="equipmentAccess" 
                                        #equipmentAccess="ngModel" 
                                        [ngClass]="{'parsley-error':!equipmentAccess.valid && (equipmentAccess.touched || userForm.submitted)}"
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [data]="equipmentList" 
                                        [(ngModel)]="selectedEquipment"
                                        [settings]="equipmentSettings">
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!equipmentAccess.valid && (equipmentAccess.touched || userForm.submitted)">
                                        <li class="parsley-required" *ngIf="equipmentAccess.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label>Purchase Access *</label>
                                    <ng-multiselect-dropdown 
                                        name="purchaseAccess" 
                                        #purchaseAccess="ngModel" 
                                        [ngClass]="{'parsley-error':!purchaseAccess.valid && (purchaseAccess.touched || userForm.submitted)}"
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [data]="purchaseList" 
                                        [(ngModel)]="selectedPurchase"
                                        [settings]="purchaseSettings">
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!purchaseAccess.valid && (purchaseAccess.touched || userForm.submitted)">
                                        <li class="parsley-required" *ngIf="purchaseAccess.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <label>GVR Access *</label>
                                    <ng-multiselect-dropdown 
                                        name="gvrAccess" 
                                        #gvrAccess="ngModel" 
                                        required 
                                        [ngClass]="{'parsley-error':!gvrAccess.valid && (gvrAccess.touched || userForm.submitted)}"
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [data]="gvrList" 
                                        [(ngModel)]="selectedGvr"
                                        [settings]="gvrSettings">
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!gvrAccess.valid && (gvrAccess.touched || userForm.submitted)">
                                        <li class="parsley-required" *ngIf="gvrAccess.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>Notification</h2>
                    </div>
                    <div class="body">
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label>Leave *</label>
                                    <ng-multiselect-dropdown 
                                        name="leaveNotification" 
                                        #leaveNotification="ngModel" 
                                        [ngClass]="{'parsley-error':!leaveNotification.valid && (leaveNotification.touched || userForm.submitted)}"
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [data]="leaveList" 
                                        [(ngModel)]="selectedLeave"
                                        [settings]="leaveSettings">
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!leaveNotification.valid && (leaveNotification.touched || userForm.submitted)">
                                        <li class="parsley-required" *ngIf="leaveNotification.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <label>Job Replacement *</label>
                                    <ng-multiselect-dropdown 
                                        name="jobReplacement" 
                                        #jobReplacement="ngModel" 
                                        [ngClass]="{'parsley-error':!jobReplacement.valid && (jobReplacement.touched || userForm.submitted)}"
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [data]="jobReplaceList" 
                                        [(ngModel)]="selectedJobReplace"
                                        [settings]="jobReplaceSettings">
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!jobReplacement.valid && (jobReplacement.touched || userForm.submitted)">
                                        <li class="parsley-required" *ngIf="jobReplacement.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <label>GVR *</label>
                                    <ng-multiselect-dropdown 
                                        name="gvrNotification" 
                                        #gvrNotification="ngModel" 
                                        [ngClass]="{'parsley-error':!gvrNotification.valid && (gvrNotification.touched || userForm.submitted)}"
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [data]="gvrNotificationList" 
                                        [(ngModel)]="selectedGvrNotification"
                                        [settings]="gvrNotificationSettings">
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!gvrNotification.valid && (gvrNotification.touched || userForm.submitted)">
                                        <li class="parsley-required" *ngIf="gvrNotification.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>Accessibility</h2>
                    </div>
                    <div class="body">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label>PDP </label>
                                    <ng-multiselect-dropdown 
                                        name="pdpView" 
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [data]="pdpViewList" 
                                        [(ngModel)]="selectedPdpView"
                                        [settings]="pdpViewSettings">
                                    </ng-multiselect-dropdown>
                                </div>
                                <div class="col-sm-6">
                                    <label>Training </label>
                                    <ng-multiselect-dropdown 
                                        name="trainingView" 
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [data]="trainingViewList" 
                                        [(ngModel)]="selectedTrainingView"
                                        [settings]="trainingViewSettings">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="fancy-checkbox">
                                        <label><input type="checkbox" [(ngModel)]="employee.pdpEdit" name="pdpEdit" #pdpEdit="ngModel"><span>Editable</span></label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="fancy-checkbox">
                                        <label><input type="checkbox" [(ngModel)]="employee.trainingEdit" name="trainingEdit" #trainingEdit="ngModel"><span>Editable</span></label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label>Action Plan </label>
                                    <ng-multiselect-dropdown 
                                        name="actionView" 
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [data]="actionViewList" 
                                        [(ngModel)]="selectedActionView"
                                        [settings]="actionViewSettings">
                                    </ng-multiselect-dropdown>
                                </div>
                                <div class="col-sm-6">
                                    <label>Post Action Plan </label>
                                    <ng-multiselect-dropdown 
                                        name="postActionView" 
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [data]="postActionViewList" 
                                        [(ngModel)]="selectedPostActionView"
                                        [settings]="postActionViewSettings">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <div class="fancy-checkbox">
                                        <label><input type="checkbox" [(ngModel)]="employee.actionEdit" name="actionEdit" #actionEdit="ngModel"><span>Editable</span></label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="fancy-checkbox">
                                        <label><input type="checkbox" [(ngModel)]="employee.postActionEdit" name="postAction" #postAction="ngModel"><span>Editable</span></label>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>ISO Documents</h2>
                    </div>
                    <div class="body">
                            <div class="form-group">
                                <label>ISO Document </label>
                                <ng-multiselect-dropdown 
                                    name="isoDocuments" 
                                    #multiSelect="ngModel" 
                                    [placeholder]="'None Selected'" 
                                    [data]="isoList" 
                                    [(ngModel)]="selectedIso"
                                    [settings]="isoSettings">
                                </ng-multiselect-dropdown>
                            </div>
                            
                            <br>    
                            <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> SAVE</button>
                            <br />
                    </div>
                </div>
            </div>
            
        </div>
        </form>
    </div>