<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                    (click)="toggleFullWidth()">
                    <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                    <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                </a>Add Product</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">Setup</li>
                    <li class="breadcrumb-item">Products</li>
                    <li class="breadcrumb-item active">Add Product</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Product Particular</h2>
                </div>
                <div class="body">
                    <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm.valid, productForm)">

                        <div class="form-group">
                            <label>Product Image</label>
                            <span *ngIf="imageUrl">
                                Preview
                                <br />
                                <img width="200px" src="https://elasticbeanstalk-ap-southeast-1-633013030562.s3-ap-southeast-1.amazonaws.com/products/{{ imageUrl }}" />
                            </span>
                            <div _ngcontent-kwf-c24="" class="input-group">
                                <div _ngcontent-kwf-c24="" class="custom-file">
                                    <input _ngcontent-kwf-c24="" class="custom-file-input" id="inputGroupFile04" type="file"  (change)="onImagePicked($event)">
                                    <label _ngcontent-kwf-c24="" class="custom-file-label" for="inputGroupFile04">Choose file</label>
                                </div>
                                <div _ngcontent-kwf-c24="" class="input-group-append"><button _ngcontent-kwf-c24="" class="btn btn-outline-secondary" type="button" (click)="onImageUpload()">UPLOAD</button></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Company</label>
                            <ng-multiselect-dropdown 
                                name="company" 
                                #multiSelect="ngModel" 
                                [placeholder]="'None Selected'" 
                                [data]="companyList" 
                                [(ngModel)]="selectedCompany"
                                [settings]="companySettings">
                            </ng-multiselect-dropdown>
                        </div>

                        <div class="form-group">
                            <label>Category</label>
                            <ng-multiselect-dropdown 
                                name="categories" 
                                #multiSelect="ngModel" 
                                [placeholder]="'None Selected'" 
                                [data]="categoryList" 
                                [(ngModel)]="selectedCategory"
                                [settings]="categorySettings">
                            </ng-multiselect-dropdown>
                        </div>

                        <div class="form-group">
                            <label>Subcategory</label>
                            <ng-multiselect-dropdown 
                                name="subcategories" 
                                #multiSelect="ngModel" 
                                [placeholder]="'None Selected'" 
                                [data]="subcategoryList" 
                                [(ngModel)]="selectedSubcategory"
                                [settings]="subcategorySettings">
                            </ng-multiselect-dropdown>
                        </div>

                        <div class="form-group">
                            <label>GVR Section</label>
                            <ng-multiselect-dropdown 
                                name="gvrSections" 
                                #multiSelect="ngModel" 
                                [placeholder]="'None Selected'" 
                                [data]="gvrSectionList" 
                                [(ngModel)]="selectedGvrSection"
                                [settings]="gvrSectionSettings" >
                            </ng-multiselect-dropdown>
                        </div>

                        <div class="form-group">
                            <label>GVR Category</label>
                            <ng-multiselect-dropdown 
                                name="gvrCategories" 
                                #multiSelect="ngModel" 
                                [placeholder]="'None Selected'" 
                                [data]="gvrCategoryList" 
                                [(ngModel)]="selectedGvrCategory"
                                [settings]="gvrCategorySettings">
                            </ng-multiselect-dropdown>
                        </div>
                        
                        <div class="form-group">
                            <label>Product Name</label>
                            <input type="text" [(ngModel)]="product.productName" class="form-control" name="productName" #productName="ngModel" required [ngClass]="{'parsley-error':!productName.valid && (productName.touched || productForm.submitted)}">
                            <ul class="parsley-errors-list filled" *ngIf="!productName.valid && (productName.touched || productForm.submitted)">
                                <li class="parsley-required" *ngIf="productName.hasError('required')">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <textarea [(ngModel)]="product.description" class="form-control" name="description" #description="ngModel" required [ngClass]="{'parsley-error':!description.valid && (description.touched || productForm.submitted)}"></textarea>
                            <ul class="parsley-errors-list filled" *ngIf="!description.valid && (description.touched || productForm.submitted)">
                                <li class="parsley-required" *ngIf="description.hasError('required')">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label>Indication</label>
                            <textarea [(ngModel)]="product.indication" class="form-control" name="indication" #indication="ngModel" required [ngClass]="{'parsley-error':!indication.valid && (indication.touched || productForm.submitted)}"></textarea>
                            <ul class="parsley-errors-list filled" *ngIf="!indication.valid && (indication.touched || productForm.submitted)">
                                <li class="parsley-required" *ngIf="indication.hasError('required')">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label>Composition</label>
                            <textarea [(ngModel)]="product.composition" class="form-control" name="composition" #composition="ngModel" required [ngClass]="{'parsley-error':!composition.valid && (composition.touched || productForm.submitted)}"></textarea>
                            <ul class="parsley-errors-list filled" *ngIf="!composition.valid && (composition.touched || productForm.submitted)">
                                <li class="parsley-required" *ngIf="composition.hasError('required')">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label>Dosage And Application</label>
                            <textarea [(ngModel)]="product.dosage" class="form-control" name="dosage" #dosage="ngModel" required [ngClass]="{'parsley-error':!dosage.valid && (dosage.touched || productForm.submitted)}"></textarea>
                            <ul class="parsley-errors-list filled" *ngIf="!dosage.valid && (dosage.touched || productForm.submitted)">
                                <li class="parsley-required" *ngIf="dosage.hasError('required')">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label>Withdrawal</label>
                            <textarea [(ngModel)]="product.withdrawal" class="form-control" name="withdrawal" #withdrawal="ngModel" required [ngClass]="{'parsley-error':!withdrawal.valid && (withdrawal.touched || productForm.submitted)}"></textarea>
                            <ul class="parsley-errors-list filled" *ngIf="!withdrawal.valid && (withdrawal.touched || productForm.submitted)">
                                <li class="parsley-required" *ngIf="withdrawal.hasError('required')">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label>Storage</label>
                            <textarea [(ngModel)]="product.storage" class="form-control" name="storage" #storage="ngModel" required [ngClass]="{'parsley-error':!storage.valid && (storage.touched || productForm.submitted)}"></textarea>
                            <ul class="parsley-errors-list filled" *ngIf="!storage.valid && (storage.touched || productForm.submitted)">
                                <li class="parsley-required" *ngIf="storage.hasError('required')">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label>Precaution</label>
                            <textarea [(ngModel)]="product.precaution" class="form-control" name="precaution" #precaution="ngModel" required [ngClass]="{'parsley-error':!precaution.valid && (precaution.touched || productForm.submitted)}"></textarea>
                            <ul class="parsley-errors-list filled" *ngIf="!precaution.valid && (precaution.touched || productForm.submitted)">
                                <li class="parsley-required" *ngIf="precaution.hasError('required')">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label>Packing</label>
                            <textarea [(ngModel)]="product.packing" class="form-control" name="packing" #packing="ngModel" required [ngClass]="{'parsley-error':!packing.valid && (packing.touched || productForm.submitted)}"></textarea>
                            <ul class="parsley-errors-list filled" *ngIf="!packing.valid && (packing.touched || productForm.submitted)">
                                <li class="parsley-required" *ngIf="packing.hasError('required')">This value is required.</li>
                            </ul>
                        </div>

                        
                        <br>
                        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> ADD</button>
                        <br />
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>