
<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                    (click)="toggleFullWidth()">
                    <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                    <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                </a>Edit Activity Detail</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/gvr']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">GVR</li>
                    <li class="breadcrumb-item">Activities</li>
                    <li class="breadcrumb-item active">Edit Activity Detail</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12">

            <form #activityDetailForm="ngForm" (ngSubmit)="onSubmit(activityDetailForm.valid, activityDetailForm)">
                <div class="card">
                    <div class="body">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Section *</label>
                                    <ng-multiselect-dropdown 
                                        name="section" 
                                        #section="ngModel"
                                        required
                                        [ngClass]="{'parsley-error':!section.valid && (section.touched || activityDetailForm.submitted)}" 
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [(ngModel)]="selectedSection"
                                        [settings]="dropdownSectionSettings"
                                        [data]="dropdownSectionList" 
                                        (onSelect)="onSectionSelect($event)" >
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!section.valid && (section.touched || activityDetailForm.submitted)">
                                        <li class="parsley-required" *ngIf="section.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Category *</label>
                                    <ng-multiselect-dropdown 
                                        name="category" 
                                        #category="ngModel"
                                        required
                                        [ngClass]="{'parsley-error':!category.valid && (status.touched || activityDetailForm.submitted)}" 
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [(ngModel)]="selectedGvrCategory"
                                        [settings]="dropdownGvrCategorySettings"
                                        [data]="dropdownGvrCategoryList" 
                                        (onSelect)="onGvrCategorySelect($event)" >
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!category.valid && (category.touched || activityDetailForm.submitted)">
                                        <li class="parsley-required" *ngIf="category.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-12" *ngIf="!showOtherServices">
                                <div class="form-group">
                                    <label>Product/Service *</label>
                                    <ng-multiselect-dropdown 
                                        name="services" 
                                        #services="ngModel"
                                        required
                                        [ngClass]="{'parsley-error':!services.valid && (status.touched || activityDetailForm.submitted)}" 
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'"
                                        [(ngModel)]="selectedProduct"
                                        [settings]="dropdownProductSettings" 
                                        [data]="dropdownProductList" >
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!services.valid && (services.touched || activityDetailForm.submitted)">
                                        <li class="parsley-required" *ngIf="services.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="fancy-checkbox">
                                        <label><input type="checkbox" [(ngModel)]="activityDetail.others" name="others" #others="ngModel" (change)="toggleOthers($event)"><span>Please tick if others product/service</span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12" *ngIf="showOtherServices">
                                <div class="form-group">
                                    <label>Please State Other Services *</label>
                                    <input type="text" [(ngModel)]="activityDetail.otherServices" class="form-control" name="otherServices" #otherServices="ngModel" required [ngClass]="{'parsley-error':!otherServices.valid && (otherServices.touched || activityDetailForm.submitted)}" >
                                    <ul class="parsley-errors-list filled" *ngIf="!otherServices.valid && (otherServices.touched || activityDetailForm.submitted)">
                                        <li class="parsley-required" *ngIf="otherServices.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Customer Concern *</label>
                                    <input type="text" [(ngModel)]="activityDetail.concern" class="form-control" name="concern" #concern="ngModel" required [ngClass]="{'parsley-error':!concern.valid && (concern.touched || activityDetailForm.submitted)}" >
                                    <ul class="parsley-errors-list filled" *ngIf="!concern.valid && (concern.touched || activityDetailForm.submitted)">
                                        <li class="parsley-required" *ngIf="concern.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Competitor Info *</label>
                                    <input type="text" [(ngModel)]="activityDetail.competitor" class="form-control" name="competitor" #competitor="ngModel" required [ngClass]="{'parsley-error':!competitor.valid && (competitor.touched || activityDetailForm.submitted)}" >
                                    <ul class="parsley-errors-list filled" *ngIf="!competitor.valid && (competitor.touched || activityDetailForm.submitted)">
                                        <li class="parsley-required" *ngIf="competitor.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Follow Up Action *</label>
                                    <input type="text" [(ngModel)]="activityDetail.action" class="form-control" name="action" #action="ngModel" required [ngClass]="{'parsley-error':!action.valid && (action.touched || activityDetailForm.submitted)}" >
                                    <ul class="parsley-errors-list filled" *ngIf="!action.valid && (action.touched || activityDetailForm.submitted)">
                                        <li class="parsley-required" *ngIf="action.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>From Whom *</label>
                                    <ng-multiselect-dropdown 
                                        name="whom" 
                                        #whom="ngModel"
                                        required
                                        [ngClass]="{'parsley-error':!whom.valid && (whom.touched || activityDetailForm.submitted)}" 
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [(ngModel)]="selectedUser"
                                        [settings]="dropdownUserSettings"
                                        [data]="dropdownUserList" >
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!whom.valid && (whom.touched || activityDetailForm.submitted)">
                                        <li class="parsley-required" *ngIf="whom.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Timeline *</label>
                                    <ng-multiselect-dropdown 
                                        name="timeline" 
                                        #timeline="ngModel"
                                        required
                                        [ngClass]="{'parsley-error':!timeline.valid && (timeline.touched || activityDetailForm.submitted)}" 
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [(ngModel)]="selectedTimeline"
                                        [settings]="dropdownTimelineSettings"
                                        [data]="dropdownTimelineList" >
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!timeline.valid && (timeline.touched || activityDetailForm.submitted)">
                                        <li class="parsley-required" *ngIf="timeline.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Status *</label>
                                    <ng-multiselect-dropdown 
                                        name="status" 
                                        #status="ngModel"
                                        required
                                        [ngClass]="{'parsley-error':!status.valid && (status.touched || activityDetailForm.submitted)}" 
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [(ngModel)]="selectedStatus"
                                        [settings]="dropdownStatusSettings"
                                        [data]="dropdownStatusList" >
                                    </ng-multiselect-dropdown>
                                    <ul class="parsley-errors-list filled" *ngIf="!status.valid && (status.touched || activityDetailForm.submitted)">
                                        <li class="parsley-required" *ngIf="status.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <br>   
                        <button type="button" class="btn btn-secondary pull-right" [routerLink]="['../../../../../../../edit', aid]" style="margin-left: 10px;"> Cancel</button>
                        <button type="submit" class="btn btn-default pull-right" style="margin-left: 10px;"><i class="fa fa-save"></i> Save</button>
                        
                        <br />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>