<div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                        (click)="toggleFullWidth()">
                        <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                        <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                    </a>Add Position</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item">Setup</li>
                        <li class="breadcrumb-item">Positions</li>
                        <li class="breadcrumb-item active">Add Position</li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>Position</h2>
                    </div>
                    <div class="body">
                        <form #positionForm="ngForm" (ngSubmit)="onSubmit(positionForm.valid, positionForm)">
                         
                            <div class="form-group">
                                <label>Position Name</label>
                                <input type="text" [(ngModel)]="position.positionName" class="form-control" name="positionName" #positionName="ngModel" [ngClass]="{'parsley-error':!positionName.valid && (positionName.touched || positionForm.submitted)}">
                                <ul class="parsley-errors-list filled" *ngIf="!positionName.valid && (positionName.touched || positionForm.submitted)">
                                    <li class="parsley-required" *ngIf="positionName.hasError('required')">This value is required.</li>
                                </ul>
                            </div>
    
                            <br>
                            <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> ADD</button>
                            <br />
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>