<div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                        (click)="toggleFullWidth()">
                        <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                        <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                    </a>Edit Product Subcategory</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item">Setup</li>
                        <li class="breadcrumb-item">Product Subcategory</li>
                        <li class="breadcrumb-item active">Edit Product Subcategory</li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>Product Subcategory</h2>
                    </div>
                    <div class="body">
                        <form #subcategoryForm="ngForm" (ngSubmit)="onSubmit(subcategoryForm.valid, subcategoryForm)">
                            <input type="hidden" name="id" #id="ngModel" [(ngModel)]="subcategory.id">
                            <div class="form-group">
                                <label>Subcategory</label>
                                <input type="text" [(ngModel)]="subcategory.subcategoryName" class="form-control" name="subcategoryName" #subcategoryName="ngModel" required [ngClass]="{'parsley-error':!subcategoryName.valid && (subcategoryName.touched || subcategoryForm.submitted)}">
                                <ul class="parsley-errors-list filled" *ngIf="!subcategoryName.valid && (subcategoryName.touched || subcategoryForm.submitted)">
                                    <li class="parsley-required" *ngIf="subcategoryName.hasError('required')">This value is required.</li>
                                </ul>
                            </div>
    
                            <br>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-pencil"></i> SAVE</button>
                            <br />
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>