<div id="left-sidebar" class="sidebar" *ngIf="sidebarVisible" style="overflow-y:scroll;">
    <div class="sidebar-scroll">
        <div class="user-account">
            <img src="assets/images/user.png" class="rounded-circle user-photo" alt="User Profile Picture">
            <div class="dropdown" ngbDropdown>
                <span>{{ greeting }},</span>
                <a href="javascript:void(0);" class="dropdown-toggle user-name" ngbDropdownToggle>
                  <strong>
                    {{ currentUser.employeeName }}
                  </strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-right account" ngbDropdownMenu>
                    <li><a [routerLink]=""><i class="icon-user"></i>My Profile</a></li>
                    <li class="divider"></li>
                    <li><a (click)="logout()"><i class="icon-power"></i>Logout</a></li>
                </ul>
            </div>
            <hr>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" [ngClass]="{'active':navTab == 'menu'}" (click)="changeNavTab('menu')"><i class="icon-settings"></i></a></li>
            <li class="nav-item"><a class="nav-link" [ngClass]="{'active':navTab == 'employee'}" (click)="changeNavTab('employee')"><i class="fa fa-bars"></i></a></li>
            <li class="nav-item"><a class="nav-link" [ngClass]="{'active':navTab == 'gvr'}" (click)="changeNavTab('gvr')"><i class="icon-notebook"></i></a></li>
            <li class="nav-item"><a class="nav-link" [ngClass]="{'active':navTab == 'setting'}" (click)="changeNavTab('setting')"><i class="icon-screen-desktop"></i></a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content p-l-0 p-r-0">

            <div class="tab-pane" id="menu" [ngClass]="{'active':navTab == 'menu' || !navTab}">
                <nav id="left-sidebar-nav" class="sidebar-nav">
                    <ul id="main-menu" class="metismenu">
                        <li *ngIf="isAdmin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'active':currentActiveMenu == 'setup'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('setup')"><i class="fa fa-building-o"></i> <span>General Setup</span></a>
                            <ul *ngIf="currentActiveMenu == 'setup'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/setup/companies']">Companies</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/setup/isos']">Iso Documents</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/setup/events']">Events</a></li>
                            </ul>
                        </li>
                        <li *ngIf="isGvr || isAdmin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'active':currentActiveMenu == 'employee'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('employee')"><i class="icon-users"></i> <span>Employee Setup</span></a>
                            <ul *ngIf="currentActiveMenu == 'employee'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/employee/grades']">Grade</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/employee/departments']">Department</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/employee/positions']">Positions</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/employee/salespersonCodes']">Salesperson Code</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/employee/users']">Employee</a></li>
                            </ul>
                        </li>
                        <li *ngIf="isAdmin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'active':currentActiveMenu == 'leave'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('leave')"><i class="icon-users"></i> <span>Leave Setup</span></a>
                            <ul *ngIf="currentActiveMenu == 'leave'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/leave/entitlements/generateYear']">Generate Next Year Leave</a></li>
                            </ul>
                        </li>
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'active':currentActiveMenu == 'product'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('product')"><i class="icon-grid"></i> <span>Product Setup</span></a>
                            <ul *ngIf="currentActiveMenu == 'product'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/product/categories']">Product Categories</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/product/subcategories']">Product Subcategories</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin/product/products']">Products</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="tab-pane" id="employee" [ngClass]="{'active':navTab == 'employee' || !navTab}">
                <nav id="left-sidebar-nav" class="sidebar-nav">

                    <ul id="main-menu" class="metismenu">
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'active':currentActiveMenu == 'dashboard'}">
                            <a [routerLink]="['/employee/dashboard/index']"><i class="icon-home"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'active':currentActiveMenu == 'calendar'}">
                            <a [routerLink]="['/employee/calendars']"><i class="icon-calendar"></i>
                                <span>Calendar</span>
                            </a>
                        </li>
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'active':currentActiveMenu == 'leave'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('leave')"><i class="icon-control-pause"></i> Leave</a>
                            <ul *ngIf="currentActiveMenu == 'leave'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/employee/leaves/add']">Apply Leave</a></li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/employee/leaves']">Leave History</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="tab-pane" id="gvr" [ngClass]="{'active':navTab == 'gvr' || !navTab}">
                <nav id="left-sidebar-nav" class="sidebar-nav">

                    <ul id="main-menu" class="metismenu">
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/gvr/dashboard/index']"><i class="icon-home"></i>Dashboard</a></li>  
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'active':currentActiveMenu == 'customers'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('customers')"><i class="icon-user"></i> <span>Customers</span></a>
                            <ul *ngIf="currentActiveMenu == 'customers'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/gvr/customers/customerPositions']">Customer Position</a></li>  
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/gvr/customers']">Customer List</a></li>  
                            </ul>
                        </li>
                        <li *ngIf="isGvr || isAdmin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/gvr/gvrSections']"><i class="icon-list"></i>Gvr Sections</a></li>
                        <li *ngIf="isGvr || isAdmin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/gvr/gvrCategories']"><i class="icon-layers"></i>Gvr Categories</a></li>
                        <li *ngIf="isGvr || isAdmin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/gvr/gvrSettings']"><i class="icon-settings"></i>Gvr Settings</a></li>  
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/gvr/activities']"><i class="icon-calendar"></i>Activities</a></li>  
                        <li *ngIf="isGvr || isAdmin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{'active':currentActiveMenu == 'analysis'}">
                            <a class="has-arrow" (click)="activeInactiveMenu('analysis')"><i class="icon-graph"></i> <span>Analysis</span></a>
                            <ul *ngIf="currentActiveMenu == 'analysis'">
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/gvr/analysis/activities']">Activities</a></li>  
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/gvr/analysis/crm']">CRM</a></li>  
                            </ul>
                        </li>
                        <li *ngIf="isFinance" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/gvr/claims']"><i class="icon-wallet"></i>Claim</a></li>  
                    </ul>
                </nav>
            </div>

            

            <div class="tab-pane p-l-15 p-r-15" id="setting" [ngClass]="{'active':navTab == 'setting'}">
                <h6>Choose Mode</h6>
                <ul class="choose-skin list-unstyled">
                    <li data-theme="white" [ngClass]="{'active':darkClass == ''}" (click)="changeDarkMode('')">
                        <div class="white"></div>
                        <span>Light</span>
                    </li>
                    <li data-theme="black" [ngClass]="{'active':darkClass == 'full-dark'}" (click)="changeDarkMode('full-dark')">
                        <div class="black"></div>
                        <span>Dark</span>
                    </li>
                </ul>
                <hr>
                <h6>Choose Skin</h6>
                <ul class="choose-skin list-unstyled">
                    <li data-theme="purple" [ngClass]="{'active':themeClass == 'theme-purple'}" (click)="changeTheme('theme-purple')">
                        <div class="purple"></div>
                        <span>Purple</span>
                    </li>
                    <li data-theme="blue" [ngClass]="{'active':themeClass == 'theme-blue'}" (click)="changeTheme('theme-blue')">
                        <div class="blue"></div>
                        <span>Blue</span>
                    </li>
                    <li data-theme="cyan" [ngClass]="{'active':themeClass == 'theme-cyan'}" (click)="changeTheme('theme-cyan')">
                        <div class="cyan"></div>
                        <span>Cyan</span>
                    </li>
                    <li data-theme="green" [ngClass]="{'active':themeClass == 'theme-green'}" (click)="changeTheme('theme-green')">
                        <div class="green"></div>
                        <span>Green</span>
                    </li>
                    <li data-theme="orange" [ngClass]="{'active':themeClass == 'theme-orange'}" (click)="changeTheme('theme-orange')">
                        <div class="orange"></div>
                        <span>Orange</span>
                    </li>
                    <li data-theme="blush" [ngClass]="{'active':themeClass == 'theme-blush'}" (click)="changeTheme('theme-blush')">
                        <div class="blush"></div>
                        <span>Blush</span>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
