<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                    (click)="toggleFullWidth()">
                    <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                    <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                </a>Add Salesperson Code</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">Setup</li>
                    <li class="breadcrumb-item">Salesperson Codes</li>
                    <li class="breadcrumb-item active">Add Salesperson Code</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Salesperson Code</h2>
                </div>
                <div class="body">
                    <form #salespersonCodeForm="ngForm" (ngSubmit)="onSubmit(salespersonCodeForm.valid, salespersonCodeForm)">
                     
                        <div class="form-group">
                            <label>Salesperson Code</label>
                            <input type="text" [(ngModel)]="code.salespersonCode" class="form-control" name="salespersonCode" #salespersonCode="ngModel" required [ngClass]="{'parsley-error':!salespersonCode.valid && (salespersonCode.touched || salespersonCodeForm.submitted)}">
                            <ul class="parsley-errors-list filled" *ngIf="!salespersonCode.valid && (salespersonCode.touched || salespersonCodeForm.submitted)">
                                <li class="parsley-required" *ngIf="salespersonCode.hasError('required')">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label>Code Description</label>
                            <input type="text" [(ngModel)]="code.codeDescription" class="form-control" name="codeDescription" #codeDescription="ngModel" required [ngClass]="{'parsley-error':!codeDescription.valid && (codeDescription.touched || salespersonCodeForm.submitted)}">
                            <ul class="parsley-errors-list filled" *ngIf="!codeDescription.valid && (codeDescription.touched || salespersonCodeForm.submitted)">
                                <li class="parsley-required" *ngIf="codeDescription.hasError('required')">This value is required.</li>
                            </ul>
                        </div>

                        <br>
                        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> ADD</button>
                        <br />
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>