body {
    padding: 10px 10px;
}

.logo {
    text-align: left;
    width: 70%;
}

.report-title {
    margin-top: 80px;
    text-align: center;
    font-size: large;
    font-weight: 700;
}

.report-author {
    margin-top: 50px;
    font-weight: 500;
}

.report {
    margin-top: 50px;
    padding: 10px 10px;
    border: solid 1px;
}