<body>
    <div class="logo">
        <img src="assets/images/logo-white.svg" alt="Rhone Ma Holdings Berhad" style="width: 20%">
    </div>

    <div class="report-title">
        GENERAL VISIT REPORT
    </div>

    <div class="report-author">
        <table>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    : {{ createdBy }}
                </td>
            </tr>
            <tr>
                <td>
                    Date
                </td>
                <td>
                    : {{ start }} To {{ end }}
                </td>
            </tr>
            <tr>
                <td>
                    Week No.
                </td>
                <td>
                    : {{ week }}
                </td>
            </tr>
            <tr>
                <td>
                    Status
                </td>
                <td>
                   <span [ngStyle]="{'color':lateSubmitted ? '#ff0000' : '' }">{{ dateSubmitted }}</span> 
                </td>
            </tr>
        </table>
    </div>

    <div class="report" *ngFor="let activity of activities">
        <br />
        <div *ngFor="let customer of activity.customer">
            <div *ngIf="customer.customerName">
                <h6>Customer Detail</h6>
                <div class="row">
                    <div class="col-sm-12">
                        Customer Name: {{ activity.customer[0].customerName }}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-6">
                        Contact Person Name: {{ activity.contactPerson[0].contactPersonName }}
                    </div>
                    <div class="col-sm-6">
                        Contact Person Position: {{ activity.contactPerson[0].contactPersonPosition[0].customerPositionName }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        Contact Person Phone: {{ activity.contactPerson[0].contactPersonPhone }}
                    </div>
                    <div class="col-sm-6">
                        Contact Person Email: {{ activity.contactPerson[0].contactPersonEmail }}
                    </div>
                </div>
                <br /><br />
            </div>
        </div>

        <div *ngFor="let title of activity.title">
            <div *ngIf="activity.farmName">
                <h6>Farm Detail</h6>
                <div class="row">
                    <div class="col-sm-6">
                        Farm Name: {{ activity.farmName }}
                    </div>
                    <div class="col-sm-6" *ngFor="let title of activity.title">
                        Contact Person: {{ title.title }} {{ activity.farmContactPerson }}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-6" *ngFor="let population of activity.population">
                        Population/Production: {{ population.population }}
                    </div>
                    <div class="col-sm-6">
                        Size: {{ activity.size }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        Contact Number: {{ activity.farmContactNumber }}
                    </div>
                    <div class="col-sm-6">
                        Email: {{ activity.farmContactEmail }}
                    </div>
                </div>
                <br /><br />
            </div>
        </div>
        
        <h6>Activity Detail</h6>
        <div class="row">
            <div class="col-sm-6" *ngFor="let purpose of activity.purpose">
                Objective: {{ purpose.purpose }}
            </div>
            <div class="col-sm-6">
                Date: {{ activity.activityDate[0] }}
            </div>
        </div>

        <div class="row" *ngIf="activity.otherPurpose">
            <div class="col-sm-12">
                Please Specify: {{ activity.otherPurpose }}
            </div>
        </div>

        <div class="report" *ngFor="let detail of activity.activityDetail">

            <div class="row">
                <div class="col-sm-4">
                    Section: {{detail.section[0].gvrSectionName}}
                </div>
                <div class="col-sm-4" *ngIf="!detail.others">
                    Category: {{detail.category[0].gvrCategoryName}}
                </div>
                
                <div class="col-sm-4" *ngIf="!detail.others">
                    Products / Services: <span [innerHtml]="detail.services[0].productName | safe: 'html'"></span>
                </div>
                <div class="col-sm-4" *ngIf="detail.others">
                    Category: OTHERS
                </div>
                <div class="col-sm-4" *ngIf="detail.others">
                    Other Services: {{ detail.otherServices }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    Customer Concern: {{detail.concern}}
                </div>
                <div class="col-sm-4">
                    Competitor Info: {{detail.competitor}}
                </div>
                <div class="col-sm-4">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    Follow Up Action: {{detail.action}}
                </div>
                <div class="col-sm-4">
                    From Whom: {{detail.whom[0].employeeName}}
                </div>
                <div class="col-sm-4">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    Timeline: {{detail.timeline[0].timeline}}
                </div>
                <div class="col-sm-4">
                    Status: {{detail.status[0].status}}
                </div>
                <div class="col-sm-4">
                </div>
            </div>

            

        </div>
        
        <div *ngIf="activity.otherInfo">
            <br /><br />
            <h6>Other Info</h6>
            {{ activity.otherInfo }}
        </div>
 
    </div>
</body>