<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                        (click)="toggleFullWidth()">
                        <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                        <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                    </a> Receipients</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">Activities</li>
                    <li class="breadcrumb-item active">Receipients</li>
                </ul>
            </div>
        </div>
    </div>

    
    <div class="row clearfix">
        <div class="col-lg-12">
            <form #activityForm="ngForm" (ngSubmit)="onSubmit(activityForm.valid, activityForm)">
            <div class="card">
                <div class="body">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Receipients</label>
                                <ng-multiselect-dropdown 
                                    name="receipients" 
                                    #receipients="ngModel"
                                    required 
                                    [ngClass]="{'parsley-error':!receipients.valid && (receipients.touched || activityForm.submitted)}" 
                                    #multiSelect="ngModel" 
                                    [placeholder]="'None Selected'" 
                                    [data]="usersList" 
                                    [(ngModel)]="selectedUser"
                                    [settings]="dropdownUsersSettings">
                                </ng-multiselect-dropdown>
                                <ul class="parsley-errors-list filled" *ngIf="!receipients.valid && (receipients.touched || activityForm.submitted)">
                                    <li class="parsley-required" *ngIf="receipients.hasError('required')">This value is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a _ngcontent-xyf-c13="" class="btn btn-success mr-2" (click)="default()">
                         Default Receipients
                    </a>
                    <button type="submit" class="btn btn-primary pull-right"><i class="icon-paper-plane"></i> Send</button>
                    <br />
                </div>
                
            </div>
            </form>
        </div>
    </div>
    

</div>