<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                        (click)="toggleFullWidth()">
                        <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                        <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                    </a> Settings</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item active">Settings</li>
                </ul>
            </div>
        </div>
    </div>

    
    <div class="row clearfix">
        <div class="col-lg-12">
            <form #activityForm="ngForm" (ngSubmit)="onSubmit(activityForm.valid, activityForm)">
            <div class="card">
                <div class="body">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Employee</label>
                                <ng-multiselect-dropdown 
                                    name="receipients" 
                                    #receipients="ngModel"
                                    [placeholder]="'None Selected'" 
                                    [data]="usersList" 
                                    [(ngModel)]="selectedUser"
                                    [settings]="dropdownUsersSettings">
                                </ng-multiselect-dropdown>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Year</label>
                                <ng-multiselect-dropdown 
                                    name="year" 
                                    #year="ngModel"
                                    #multiSelect="ngModel" 
                                    [placeholder]="'None Selected'" 
                                    [data]="yearsList" 
                                    [(ngModel)]="selectedYear"
                                    [settings]="dropdownYearsSettings">
                                </ng-multiselect-dropdown>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right"><i class="icon-magnifier"></i> Search</button>
                    <br />
                </div>
                
            </div>
            </form>
        </div>
    </div>
    

    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>WEEK</th>
                                <th>FROM</th>
                                <th>TO</th>
                                <th>STATUS</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let week of weekTable">
                                <td scope="row">WEEK {{ week.i }}</td>
                                <td>{{ week.start }}</td>
                                <td>{{ week.end }}</td>
                                
                                <td *ngIf="week.report[0]">
                                    <span  *ngFor="let submit of week.report">
                                        <span *ngIf="submit.lateSubmitted">
                                            <span *ngIf="submit.submitted" style="color: #ff0000;">Submitted at {{ submit.dateSubmitted }}</span>
                                        </span>
                                        <span *ngIf="!submit.lateSubmitted">
                                            <span *ngIf="submit.submitted">Submitted at {{ submit.dateSubmitted }}</span>
                                        </span>
                                    </span>
                                </td>
                                <td *ngIf="!week.report[0]"></td>
                                <td>
                                    <span  *ngFor="let submit of week.report">
                                        <button _ngcontent-xyf-c32="" class="btn btn-warning mr-2" type="button" (click)="unlock(week.i, submit.year, currentUser)">
                                            <i _ngcontent-xyf-c13="" class="icon-lock-open" title="Unlock"></i>
                                        </button>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
</div>