<div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                            (click)="toggleFullWidth()">
                            <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                            <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                        </a> Positions</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item">Setup</li>
                        <li class="breadcrumb-item active">Positions</li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="body table-responsive">
                        <div _ngcontent-xyf-c32="" class="body pull-right">
                            <button _ngcontent-xyf-c32="" class="btn btn-outline-primary" type="button" [routerLink]="['add']"><i class="fa fa-plus"></i> Add</button>
                        </div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>POSITION</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let position of pageOfItems; let i = index">
                                    <td scope="row">{{ startIndex+i+1 }}</td>
                                    <td>{{ position.positionName }}</td>
                                    <td>
                                        <a _ngcontent-xyf-c13="" class="btn btn-outline-secondary mr-2" [routerLink]="['edit/', position.id]">
                                            <i _ngcontent-xyf-c13="" class="icon-pencil" title="Edit"></i>
                                        </a>
                                        <a _ngcontent-xyf-c13="" class="btn btn-danger mr-2" (click)="openConfirm(position.id)">
                                            <i _ngcontent-xyf-c13="" class="icon-trash" title="Delete"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />
                        <ul *ngIf="pages && pages.length" class="body pagination pagination-primary">
                                <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
                                    <a [routerLink]="['/admin/employee/positions']" [queryParams]="{ page: 1 }" class="page-link">First</a>
                                </li>
                                <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
                                    <a [routerLink]="['/admin/employee/positions']" [queryParams]="{ page: pager.currentPage - 1 }" class="page-link">Previous</a>
                                </li>
                                <li *ngFor="let page of pages" [ngClass]="{active:pager.currentPage === page}" class="page-item number-item">
                                    <a [routerLink]="['/admin/employee/positions']" [queryParams]="{ page: page }" class="page-link">{{page}}</a>
                                </li>
                                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
                                    <a [routerLink]="['/admin/employee/positions']" [queryParams]="{ page: pager.currentPage + 1 }" class="page-link">Next</a>
                                </li>
                                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
                                    <a [routerLink]="['/admin/employee/positions']" [queryParams]="{ page: pager.totalPages }" class="page-link">Last</a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    
    </div>