<div class="page-loader-wrapper">
  <div class="loader">
      <div class="m-t-30"><img src="assets/images/logo.svg" width="120" height="48" alt="Lucid"></div>
      <p>Please wait...</p>        
  </div>
</div>