<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                        (click)="toggleFullWidth()">
                        <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                        <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                    </a> Activities</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">Analysis</li>
                    <li class="breadcrumb-item active">Activities</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>SECTION</th>
                                <th>CATEGORY</th>
                                <th>PRODUCT/SERVICE</th>
                                <th>CUSTOMER CONCERN</th>
                                <th>COMPETITOR INFO</th>
                                <th>FOLLOW UP</th>
                                <th>FROM WHOM</th>
                                <th>TIMELINE</th>
                                <th>STATUS</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let activity of activities">
                            <tr *ngFor="let detail of activity.activityDetail">
                                <td>{{detail.section[0].gvrSectionName}}</td>
                                <td>{{detail.category[0].gvrCategoryName}}</td>
                                <td *ngIf="detail.others">{{detail.otherServices}}</td>
                                <td *ngIf="!detail.others">{{detail.services[0].productName}}</td>
                                <td>{{detail.concern}}</td>
                                <td>{{detail.competitor}}</td>
                                <td>{{detail.action}}</td>
                                <td>
                                    <span  *ngFor="let byWhom of detail.whom; let isLast=last">
                                        {{ byWhom.employeeName }}{{isLast ? '' : ','}}<br />
                                    </span>
                                </td>
                                <td>{{detail.timeline[0].timeline}}</td>
                                <td>{{detail.status[0].status}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>

</div>