<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                        (click)="toggleFullWidth()">
                        <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                        <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                    </a> Activities</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item active">Activities</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>Year</label>
                <ng-multiselect-dropdown 
                    name="year" 
                    #year="ngModel"
                    #multiSelect="ngModel" 
                    [placeholder]="'None Selected'" 
                    [data]="yearsList" 
                    [(ngModel)]="selectedYear"
                    [settings]="dropdownYearsSettings"
                    (onSelect)="onYearSelect($event)">
                </ng-multiselect-dropdown>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>WEEK</th>
                                <th>FROM</th>
                                <th>TO</th>
                                <th>STATUS</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let week of weekTable">
                                <td scope="row">WEEK {{ week.i }}</td>
                                <td>{{ week.start }}</td>
                                <td>{{ week.end }}</td>
                                
                                <td *ngIf="week.report[0]">
                                    <span  *ngFor="let submit of week.report">
                                        <span *ngIf="submit.lateSubmitted">
                                            <span *ngIf="submit.submitted" style="color: #ff0000;">Submitted at {{ submit.dateSubmitted }}</span>
                                        </span>
                                        <span *ngIf="!submit.lateSubmitted">
                                            <span *ngIf="submit.submitted">Submitted at {{ submit.dateSubmitted }}</span>
                                        </span>
                                    </span>
                                </td>
                                <td *ngIf="!week.report[0]"></td>
                                
                                <td *ngIf="week.report[0]">
                                    <span  *ngFor="let submit of week.report">
                                        <button _ngcontent-hxs-c21="" class="btn btn-success mr-1" title="Add" type="button" [routerLink]="['add/', week.i, 'year', currentYear]" [disabled]="submit.submitted">
                                            <span _ngcontent-hxs-c21="" class="sr-only">Add</span><i _ngcontent-hxs-c21="" class="icon-plus"></i>
                                        </button>
                                        <button _ngcontent-hxs-c21="" class="btn btn-secondary mr-1" title="View" type="button" [routerLink]="['list/', week.i, 'year', currentYear]" [disabled]="submit.submitted">
                                            <span _ngcontent-hxs-c21="" class="sr-only">View</span><i _ngcontent-hxs-c21="" class="icon-magnifier"></i>
                                        </button>
                                        <button _ngcontent-xyf-c32="" class="btn btn-info mr-2" type="button" [routerLink]="['submit/', week.i, 'year', currentYear]" [disabled]="submit.submitted">
                                            <i _ngcontent-xyf-c13="" class="icon-paper-plane" title="Submit"></i>
                                        </button>
                                        <button _ngcontent-xyf-c32="" class="btn btn-warning mr-2" type="button" [routerLink]="['report/', week.i, 'year', currentYear, 'uid', user._id]">
                                            <i _ngcontent-xyf-c13="" class="icon-notebook" title="Report"></i>
                                        </button>
                                    </span>
                                </td>
                                <td *ngIf="!week.report[0]">
                                    <button _ngcontent-hxs-c21="" class="btn btn-success mr-1" title="Add" type="button" [routerLink]="['add/', week.i, 'year', currentYear]">
                                        <span _ngcontent-hxs-c21="" class="sr-only">Add</span><i _ngcontent-hxs-c21="" class="icon-plus"></i>
                                    </button>
                                    <button _ngcontent-hxs-c21="" class="btn btn-secondary mr-1" title="View" type="button" [routerLink]="['list/', week.i, 'year', currentYear]">
                                        <span _ngcontent-hxs-c21="" class="sr-only">View</span><i _ngcontent-hxs-c21="" class="icon-magnifier"></i>
                                    </button>
                                    <button _ngcontent-xyf-c32="" class="btn btn-info mr-2" type="button" [routerLink]="['submit/', week.i, 'year', currentYear]" [disabled]="!week.report[0]">
                                        <i _ngcontent-xyf-c13="" class="icon-paper-plane" title="Submit"></i>
                                    </button>
                                    <button _ngcontent-xyf-c32="" class="btn btn-warning mr-2" type="button" [routerLink]="['report/', week.i, 'year', currentYear, 'uid', user._id]" [disabled]="!week.report[0]">
                                        <i _ngcontent-xyf-c13="" class="icon-notebook" title="Report"></i>
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>

</div>