.container {
    display: flex;
    flex-direction: row;
  }

  .navigator {
    width: 190px;
  }

  .content {
    flex-grow: 1;
  }

  .buttons {
    margin-bottom: 10px;
  }

  button {
    background-color: #3c78d8;
    color: white;
    border: 0;
    padding: .5rem 1rem;
    width: 80px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 5px;
  }

  button.selected {
    background-color: #1c4587;
  }