<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                    (click)="toggleFullWidth()">
                    <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                    <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                </a>Edit Grade</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">Setup</li>
                    <li class="breadcrumb-item">Grades</li>
                    <li class="breadcrumb-item active">Edit Grade</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Grade</h2>
                </div>
                <div class="body">
                    <form #gradeForm="ngForm" (ngSubmit)="onSubmit(gradeForm.valid, gradeForm)">
                        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="grade.id">
                        <div class="form-group">
                            <label>Grade</label>
                            <input type="text" [(ngModel)]="grade.gradeName" class="form-control" name="gradeName" #gradeName="ngModel" [ngClass]="{'parsley-error':!gradeName.valid && (gradeName.touched || gradeForm.submitted)}">
                            <ul class="parsley-errors-list filled" *ngIf="!gradeName.valid && (gradeName.touched || gradeForm.submitted)">
                                <li class="parsley-required" *ngIf="gradeName.hasError('required')">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label>0 - 5 YEARS</label>
                            <input type="text" [(ngModel)]="grade.lessFive" class="form-control" name="lessFive" #lessFive="ngModel" [ngClass]="{'parsley-error':!lessFive.valid && (lessFive.touched || gradeForm.submitted)}">
                            <ul class="parsley-errors-list filled" *ngIf="!lessFive.valid && (lessFive.touched || gradeForm.submitted)">
                                <li class="parsley-required" *ngIf="lessFive.hasError('required')">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label>5 years < 10 years</label>
                            <input type="text" [(ngModel)]="grade.betweenFiveTen" class="form-control" name="betweenFiveTen" #betweenFiveTen="ngModel" [ngClass]="{'parsley-error':!betweenFiveTen.valid && (betweenFiveTen.touched || gradeForm.submitted)}">
                            <ul class="parsley-errors-list filled" *ngIf="!betweenFiveTen.valid && (betweenFiveTen.touched || gradeForm.submitted)">
                                <li class="parsley-required" *ngIf="betweenFiveTen.hasError('required')">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label>> 10 years</label>
                            <input type="text" [(ngModel)]="grade.aboveTen" class="form-control" name="aboveTen" #aboveTen="ngModel" [ngClass]="{'parsley-error':!aboveTen.valid && (aboveTen.touched || gradeForm.submitted)}">
                            <ul class="parsley-errors-list filled" *ngIf="!aboveTen.valid && (aboveTen.touched || gradeForm.submitted)">
                                <li class="parsley-required" *ngIf="aboveTen.hasError('required')">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label>Dental</label>
                            <input type="text" [(ngModel)]="grade.dental" class="form-control" name="dental" #dental="ngModel" [ngClass]="{'parsley-error':!dental.valid && (dental.touched || gradeForm.submitted)}">
                            <ul class="parsley-errors-list filled" *ngIf="!dental.valid && (dental.touched || gradeForm.submitted)">
                                <li class="parsley-required" *ngIf="dental.hasError('required')">This value is required.</li>
                            </ul>
                        </div>

                        <br>
                        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-pencil"></i> SAVE</button>
                        <br />
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>