<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                    (click)="toggleFullWidth()">
                    <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                    <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                </a>Edit Contact Person</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">GVR</li>
                    <li class="breadcrumb-item">Customers</li>
                    <li class="breadcrumb-item active">Edit Contact Person</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Contact Person</h2>
                </div>
                <div class="body">
                    <form #contactPersonForm="ngForm" (ngSubmit)="onSubmit(contactPersonForm.valid, contactPersonForm)">
                        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="contactPerson.id">
                        
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" [(ngModel)]="contactPerson.contactPersonName" class="form-control" name="contactPersonName" #contactPersonName="ngModel" required [ngClass]="{'parsley-error':!contactPersonName.valid && (contactPersonName.touched || contactPersonForm.submitted)}">
                            <ul class="parsley-errors-list filled" *ngIf="!contactPersonName.valid && (contactPersonName.touched || contactPersonForm.submitted)">
                                <li class="parsley-required" *ngIf="contactPersonName.hasError('required')">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label>Title *</label>
                            <ng-multiselect-dropdown 
                                name="contactPersonTitle" 
                                #contactPersonTitle="ngModel"
                                required 
                                [ngClass]="{'parsley-error':!contactPersonTitle.valid && (contactPersonTitle.touched || contactPersonForm.submitted)}" 
                                #multiSelect="ngModel" 
                                [placeholder]="'None Selected'" 
                                [data]="contactPersonTitleList" 
                                [(ngModel)]="selectedContactPersonTitle"
                                [settings]="dropdownContactPersonTitleSettings" >
                            </ng-multiselect-dropdown>
                        </div>

                        <div class="form-group">
                            <label>Position</label>
                            <ng-multiselect-dropdown 
                                name="contactPersonPosition" 
                                #multiSelect="ngModel" 
                                [placeholder]="'None Selected'" 
                                [data]="dropdownList" 
                                [(ngModel)]="selectedItems"
								[settings]="dropdownSettings">
                            </ng-multiselect-dropdown>
                        </div>

                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" [(ngModel)]="contactPerson.contactPersonPhone" class="form-control" name="contactPersonPhone" #contactPersonPhone="ngModel" required [ngClass]="{'parsley-error':!contactPersonPhone.valid && (contactPersonPhone.touched || contactPersonForm.submitted)}">
                            <ul class="parsley-errors-list filled" *ngIf="!contactPersonPhone.valid && (contactPersonPhone.touched || contactPersonForm.submitted)">
                                <li class="parsley-required" *ngIf="contactPersonPhone.hasError('required')">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" [(ngModel)]="contactPerson.contactPersonEmail" class="form-control" name="contactPersonEmail" #contactPersonEmail="ngModel" required [ngClass]="{'parsley-error':!contactPersonEmail.valid && (contactPersonEmail.touched || contactPersonForm.submitted)}">
                            <ul class="parsley-errors-list filled" *ngIf="!contactPersonEmail.valid && (contactPersonEmail.touched || contactPersonForm.submitted)">
                                <li class="parsley-required" *ngIf="contactPersonEmail.hasError('required')">This value is required.</li>
                            </ul>
                        </div>


                        <br>
                        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> SAVE</button>
                        <br />
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>