<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                    (click)="toggleFullWidth()">
                    <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                    <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                </a>Edit Customer Position</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">Customers</li>
                    <li class="breadcrumb-item">Customer Position</li>
                    <li class="breadcrumb-item active">Edit Customer Position</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Customer Position</h2>
                </div>
                <div class="body">
                    <form #positionForm="ngForm" (ngSubmit)="onSubmit(positionForm.valid, positionForm)">
                        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="customerPosition.id">
                        <div class="form-group">
                            <label>Position</label>
                            <input type="text" [(ngModel)]="customerPosition.customerPositionName" class="form-control" name="customerPositionName" #customerPositionName="ngModel" [ngClass]="{'parsley-error':!customerPositionName.valid && (customerPositionName.touched || positionForm.submitted)}">
                            <ul class="parsley-errors-list filled" *ngIf="!customerPositionName.valid && (customerPositionName.touched || positionForm.submitted)">
                                <li class="parsley-required" *ngIf="customerPositionName.hasError('required')">This value is required.</li>
                            </ul>
                        </div>

                        <br>
                        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-pencil"></i> SAVE</button>
                        <br />
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>