<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                        (click)="toggleFullWidth()">
                        <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                        <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                    </a> Generate Next Year Leave</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">Leave Setup</li>
                    <li class="breadcrumb-item active">Generate Next Year Leave</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <form #leaveForm="ngForm" (ngSubmit)="onSubmit(leaveForm.valid, leaveForm)">
                <div class="body">
                    Do you want to generate year for year <b>{{ nextYear }}</b> ?

                    <br>
                    <br>
                    <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-cogs"></i> Generate</button>
                    <br />
                </div>
                </form>
            </div>
        </div>
    </div>

</div>