<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                    (click)="toggleFullWidth()">
                    <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                    <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                </a>Add Customer</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/gvr']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">GVR</li>
                    <li class="breadcrumb-item">Customers</li>
                    <li class="breadcrumb-item active">Add Customer</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Customer Particular</h2>
                </div>
                <div class="body">
                    <form #customerForm="ngForm" (ngSubmit)="onSubmit(customerForm.valid, customerForm)">
                        
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Company</label>
                                    <ng-multiselect-dropdown 
                                        name="company" 
                                        #multiSelect="ngModel" 
                                        [placeholder]="'None Selected'" 
                                        [data]="companyList" 
                                        [(ngModel)]="selectedCompany"
                                        [settings]="dropdownCompanySettings">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Company Name</label>
                                    <input type="text" [(ngModel)]="customer.customerName" class="form-control" name="customerName" #customerName="ngModel" required [ngClass]="{'parsley-error':!customerName.valid && (customerName.touched || customerForm.submitted)}" >
                                    <ul class="parsley-errors-list filled" *ngIf="!customerName.valid && (customerName.touched || customerForm.submitted)">
                                        <li class="parsley-required" *ngIf="customerName.hasError('required')">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label>Customer Code</label>
                                <input type="text" [(ngModel)]="customer.customerCode" class="form-control" name="customerCode" #customerCode="ngModel" required [ngClass]="{'parsley-error':!customerCode.valid && (customerCode.touched || customerForm.submitted)}" >
                                <ul class="parsley-errors-list filled" *ngIf="!customerCode.valid && (customerCode.touched || customerForm.submitted)">
                                    <li class="parsley-required" *ngIf="customerCode.hasError('required')">This value is required.</li>
                                </ul>
                            </div>
                        </div>

                        <br>    
                        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> SAVE</button>
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>