<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                        (click)="toggleFullWidth()">
                        <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                        <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                    </a> CRM</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">Analysis</li>
                    <li class="breadcrumb-item active">CRM</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>CUSTOMER</th>
                                <th>TITLE</th>
                                <th>FULLNAME</th>
                                <th>POSITION</th>
                                <th>CONTACT</th>
                                <th>EMAIL</th>
                                <th>FARM NAME</th>
                                <th>POPULATION</th>
                                <th>SIZE</th>
                                <th>TITLE</th>
                                <th>CONTACT PEROSN</th>
                                <th>CONTACT NUMBER</th>
                                <th>EMAIL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let activity of activities">
                                <td>{{ activity.customer[0].customerName }}</td>
                                <td>{{ activity.contactPerson[0].contactPersonTitle[0].contactPersonTitle }}</td>
                                <td>{{ activity.contactPerson[0].contactPersonName }}</td>
                                <td>{{ activity.contactPerson[0].contactPersonPosition[0].customerPositionName }}</td>
                                <td>{{ activity.contactPerson[0].contactPersonPhone }}</td>
                                <td>{{ activity.contactPerson[0].contactPersonEmail }}</td>
                                <td>{{ activity.farmName }}</td>
                                <td>{{ activity.population[0].population }}</td>
                                <td>{{ activity.size }}</td>
                                <td>{{ activity.title[0].title }}</td>
                                <td>{{ activity.farmContactPerson }}</td>
                                <td>{{ activity.farmContactNumber }}</td>
                                <td>{{ activity.farmContactEmail }}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>

</div>