<div id="wrapper">
	<div class="vertical-align-wrap">
		<div class="vertical-align-middle auth-main">
			<div class="auth-box">
				<div class="top">
					<img src="assets/images/logo-white.svg" alt="Rhone Ma Holdings Berhad">
				</div>
				<div class="card">
					<div class="header">
						<p class="lead">Login to your account</p>
          </div>

					<div class="body">
              			<div *ngIf="message" class="block-header alert alert-danger">{{ message }}</div>
						<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.valid, loginForm)">
							<div class="form-group">
								<label>Username</label>
								<input type="text" [(ngModel)]="user.username" class="form-control" name="username" #username="ngModel" required [ngClass]="{'parsley-error':!username.valid && (username.touched || loginForm.submitted)}">
								<ul class="parsley-errors-list filled" *ngIf="!username.valid && (username.touched || loginForm.submitted)">
									<li class="parsley-required" *ngIf="username.hasError('required')">Username is required.</li>
								</ul>
							</div>

							<div class="form-group">
								<label>Password</label>
								<input type="password" [(ngModel)]="user.password" class="form-control" name="password" #password="ngModel" required [ngClass]="{'parsley-error':!password.valid && (password.touched || loginForm.submitted)}">
								<ul class="parsley-errors-list filled" *ngIf="!password.valid && (password.touched || loginForm.submitted)">
									<li class="parsley-required" *ngIf="password.hasError('required')">Password is required.</li>
								</ul>
							</div>

							<button class="btn btn-primary btn-lg btn-block">
								LOGIN
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
