<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"
                        (click)="toggleFullWidth()">
                        <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                        <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
                    </a> Products</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">Setup</li>
                    <li class="breadcrumb-item active">Products</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body table-responsive">
                    <div _ngcontent-xyf-c32="" class="body pull-right">
                        <button _ngcontent-xyf-c32="" class="btn btn-outline-primary" type="button" [routerLink]="['add']"><i class="fa fa-plus"></i> Add</button>
                    </div>
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                        <thead>
                            <tr>
                                <th>PRODUCT IMAGE</th>
                                <th>NAME</th>
                                <th>CATEGORIES</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of products">
                                <td>
                                    <span *ngFor="let img of product.imgUrls">
                                    <img width="100px" src="https://elasticbeanstalk-ap-southeast-1-633013030562.s3-ap-southeast-1.amazonaws.com/products/{{ img }}" />
                                    </span>
                                </td>
                                <td [innerHtml]="product.productName | safe: 'html'"></td>
                                <td>
                                    <span  *ngFor="let category of product.categories">
                                    {{ category.categoryName }}
                                    </span>
                                </td>
                                <td>
                                    <a _ngcontent-xyf-c13="" class="btn btn-outline-secondary mr-2" [routerLink]="['edit/', product.id]">
                                        <i _ngcontent-xyf-c13="" class="icon-pencil" title="Edit"></i>
                                    </a>
                                    <a _ngcontent-xyf-c13="" class="btn btn-danger mr-2" (click)="openConfirm(product.id)">
                                        <i _ngcontent-xyf-c13="" class="icon-trash" title="Delete"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>

</div>