<div class="container-fluid profilepage_2 blog-page">

    <div class="block-header">
      <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-12">
          <h2>
            <a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth" (click)="toggleFullWidth()">
              <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
              <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
            </a>
            My Profile
          </h2>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/admin']"><i class="icon-home"></i></a></li>
            <li class="breadcrumb-item">Pages</li>
            <li class="breadcrumb-item active">My Profile</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row clearfix">

      <div class="col-lg-4 col-md-12">
        <div class="card profile-header">
          <div class="body">
            <div class="profile-image"> <img src="assets/images/user.png" class="rounded-circle" alt=""> </div>
            <div>
              <h4 class="m-b-10"><strong>{{ currentUser.firstName }} {{ currentUser.lastName }}</strong></h4>
              <span>{{ currentUser.position }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-md-12">
          <div class="card">
              <div class="header">
                <h2>Info</h2>
                <ul class="header-dropdown">
                  More
                  <li class="dropdown" ngbDropdown>
                    <a href="javascript:void(0);" ngbDropdownToggle class="dropdown-toggle" role="button" id="info"
                     aria-expanded="false"></a>
                    <ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="info">
                      <li><a href="javascript:void(0);">Edit My Profile</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="body">
                <div class="row clearfix">
                  <div class="col-lg-6 col-md-6">
                    <small class="text-muted">First Name: </small>
                    <p>{{ currentUser.firstName }}</p>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <small class="text-muted">Last Name: </small>
                    <p>{{ currentUser.lastName }}</p>
                  </div>
                </div>
                <hr>
                <small class="text-muted">Email address: </small>
                <p>{{ currentUser.email }}</p>
                <hr>
                <small class="text-muted">Mobile: </small>
                <p>{{ currentUser.contact }}</p>
              </div>
            </div>
      </div>
    </div>
  </div>
