<div class="container-fluid">

    <div class="block-header">
      <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-12">
          <h2>
            <a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth" (click)="toggleFullWidth()">
              <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
              <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
            </a>
            Dashboard
          </h2>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/gvr']"><i class="icon-home"></i></a></li>
            <li class="breadcrumb-item">General Visit Report</li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row clearfix">

      <div class="col-lg-12 col-md-12">
        <div class="card planned_task">
          <div class="header">
            <h2>Dashboard</h2>
          </div>
          <div class="body">
            <h4>GVR</h4>
          </div>
        </div>
      </div>

    </div>
  </div>
